* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

* {
    font-family: 'Didact Gothic', sans-serif;
    font-family: 'Quicksand', sans-serif;
    scroll-behavior: smooth;
    background-color: #FFFFFF;
    margin: 0px;
}

.row {
	width: 100%;
    display: flex;
    flex-wrap: wrap;
}



/*
Start of the navigation bar at the top.
*/
.navigation_home {
    width: 100%;
    display: table;
}

#navhome {
    display: flex;
    background: #FFFFFF;
    z-index: 16;
    padding-top: 3vh;
    padding-bottom: 2vh;
    border-bottom: 1.5px solid #EAEAEA;
}

.top_header {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.logo_home_nav {
    width: 100%;
    text-align: center;
    margin-top: 0.5vh;
}

.logo_text_nav > a {
    width: 100%;
    text-decoration: none;
    color: #383838;
    font-size: 1.44em;
    letter-spacing: 2px;
    font-weight: bolder;
}

.top_nav {
    width: 100%;
    text-align: center !important;
    align-items: center;
    margin-top: 3vh;
    margin-bottom: 1.5vh;
    padding-left: 6vw;
    padding-right: 6vw;
    display: flex;
    flex-wrap: wrap;
}

.nav_pri {
    width: 22.5%;
    transition: all 0.2s ease-in-out;
}

.nav_pri:hover {
    transform: scale(1.25);
}

.nav_pri > a {
    color: #9E9E9E;
    text-decoration: none;
    font-size: 1.08em;
    letter-spacing: 1px;
    font-weight: bolder;
}

.nav_pri > a:hover {
    color: #383838;
}

#contact_nav {
    text-align: center !important;
    color: #FFFFFF;
    background-color: #00AEEF;
    text-decoration: none !important;
    padding: 0.5rem 1.5rem;
    letter-spacing: 1px;
    border-radius: 0.25rem;
    margin-left: 2vw;
    box-shadow: 5px 5px 25px 0 rgba(46, 61, 73, .28);
    transition: all 0.3s ease;
}

#contact_nav:focus, #contact_nav:hover {
    box-shadow: 2px 2.5px 5px 0 rgba(46, 61, 73, .2);
}

.sticky {
    width: 100%;
    position: fixed;
    top: 0;
}
/*
End of top navigation bar.
*/

.about_head {
    width: 100%;
    padding-top: 24vh;
    padding-bottom: 6vh;
    padding-left: 10vw;
    padding-right: 10vw;
    text-align: left;
}

.about_head h1 {
    color: #383838;
    font-size: 2.56em;
    font-weight: lighter;
    line-height: 1.44em;
}

hr {
    width: 10%;
    height: 0.5vh;
    background: #00AEEF;
    margin-left: 45%;
    margin-right: 45%;
    border: none;
    align-items: center;
    text-align: center;
    margin-bottom: 8vh; 
}

.about_cont {
    width: 100%;
    text-align: left;
    padding-left: 10vw;
    padding-right: 10vw;
    padding-bottom: 6vh;
}

.about_cont h3 {
    color: #383838;
    font-size: 1.28em;
    font-weight: lighter;
    line-height: 1.44em;
}

.about_desc {
    width: 100%;
    margin-bottom: 6vh;
}

.about_desc h3 {
    font-size: 1.28em;
    letter-spacing: 2px;
}

.about_desc > h3 > a {
    color: #383838;
    transition: all 0.2s ease-in-out;
    transform: translateY(-1vh);
}

.contact_info {
    width: 100%;
}

.contact_info i {
    color: #383838;
    font-size: 1.36em;
}

.contact_info span {
    font-size: 1.28em;
    margin-left: 2vw;
}

.contact_info h3 {
    margin-top: 2vh;
}

.contact_info a {
    color: #383838;
    cursor: pointer;
    text-decoration: none;
    font-weight: lighter;
    letter-spacing: 1px;
}

.contact_info > h3 > i {
    color: #383838;
    font-size: 1em;
    margin-right: 1vw;
}

.contact_info a:hover {
    text-decoration: underline;
}

#download {
    width: 15rem;
    border: 0.125rem solid transparent;
    background-color: #00AEEF;
    color: #FFFFFF;
    text-align: center;
    font-size: 0.80em;
    cursor: pointer;
    margin-top: 8vh;
    margin-bottom: 4vh;
    padding: 1rem;
    letter-spacing: 2px;
    text-decoration: none;
    font-weight: 900;
    border-radius: 0.375rem;
    transition: all 0.3s ease;
    box-shadow: 8px 10px 20px 0 rgba(46, 61, 73, .28);
}

#download:focus {
    box-shadow: 2px 2.5px 5px 0 rgba(46, 61, 73, .2);
}

#download:hover {
    box-shadow: 2px 2.5px 5px 0 rgba(46, 61, 73, .2);
}

/*
Start of footer section
*/
footer {
    width: 100%;
    background: #DBE2E8;
    padding-left: 4vw;
    padding-right: 4vw;
    padding-top: 12vh;
    padding-bottom: 12vh;
}

footer .row {
    background: #DBE2E8;
}

.contact_head {
    width: 100%;
    color: #383838;
    background: #DBE2E8;
    text-align: center;
    font-size: 1.44em;
    font-weight: bolder;
}

.social_links {
    width: 100%;
    padding-top: 4vh;
    background: #DBE2E8;
    text-align: center;
}

.social_links > a {
    background: #DBE2E8;
    text-decoration: none;
}

.social_links > a > i {
    width: 3.20rem;
    font-size: 1.80em;
    color: #585858;
    background: #DBE2E8;
}

.cpy {
    width: 100%;
    color: #383838;
    background: #DBE2E8;
    text-align: center;
    padding-top: 4vh;
}

.move {
    transition: all 0.2s ease-in-out;
}

.move:hover {
    transform: translateY(-1vh);
}



/*
Applying break-points
*/
@media screen and (min-width: 768px) {

    .top_header {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }

    .logo_home_nav {
        width: 45%;
        padding-top: 2vh;
    }

    .top_nav {
        width: 50%;
        float: right;
        align-items: center;
    }

    #navhome {
        padding-top: 1vh;
    }

    .about_head {
        padding-left: 20vw;
        padding-right: 20vw;
    }

    hr {
        width: 5%;
        margin-left: 47.5%;
        margin-right: 47.5%;
    }

    .about_cont {
        padding-left: 20vw;
        padding-right: 20vw;
    }

    .about_desc {
        width: 55%;
    }

    .contact_info {
        width: 45%;
        padding-left: 15%;
    }

    .social_links > a > i {
        width: 5.4rem;
    }
}