* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

* {
    font-family: 'Didact Gothic', sans-serif;
    font-family: 'Quicksand', sans-serif;
    scroll-behavior: smooth;
}

.navigation {
    width: 100%;
    display: table;
    background-color: #F8F8F8;
}

.top_header {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.top_header h3 {
    font-weight: normal;
    font-size: 1.4em;
    text-align: center;
    margin-top: 6vmax;
    margin-left: 6vmax;
    margin-right: 6vmax;
}

.logo_home {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.logo_text {
    width: 100%;
    text-align: center;
    margin: 4vmax;
    color: #383838;
    font-size: 2em;
    letter-spacing: 4px;

    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-fill-mode: both;
    -webkit-animation-name: fadeInUp;

    -moz-animation-duration: 3s;
    -moz-animation-iteration-count: 1;
    -moz-animation-fill-mode: both;
    -moz-animation-name: fadeInUp;

    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
    animation-name: fadeInUp;
}

.logo_text a {
    text-decoration: none;
    color: #383838;
}

.top_nav {
    width: 100%;
    margin-left: 4vmax;
    margin-right: 4vmax;
    margin-bottom: 4vmax;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}

.top_nav span {
    width: 33.33%;

    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-fill-mode: both;
    -webkit-animation-name: fadeInUp;

    -moz-animation-duration: 3s;
    -moz-animation-iteration-count: 1;
    -moz-animation-fill-mode: both;
    -moz-animation-name: fadeInUp;

    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
    animation-name: fadeInUp;
}

.top_nav > span > a {
    color: #383838;
    text-decoration: none;
    font-size: 1em;

    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-fill-mode: both;
    -webkit-animation-name: fadeInUp;

    -moz-animation-duration: 3s;
    -moz-animation-iteration-count: 1;
    -moz-animation-fill-mode: both;
    -moz-animation-name: fadeInUp;

    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
    animation-name: fadeInUp;
}

header {
    text-align: center;
    width: 100%;
    padding-top: 6vmax;
    height: auto;
    overflow: hidden;
}

.content {
    width: 100%;
    padding-top: 12vmax;
    padding-bottom: 20vmax;

    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-fill-mode: both;
    -webkit-animation-name: fadeInUp;

    -moz-animation-duration: 3s;
    -moz-animation-iteration-count: 1;
    -moz-animation-fill-mode: both;
    -moz-animation-name: fadeInUp;

    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
    animation-name: fadeInUp;
}

.content h3 {
    color: #383838;
    font-size: 1.4em;
    font-weight: normal;
    margin-left: 8vmax;
    margin-right: 8vmax;
    letter-spacing: 1.5px;

    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-fill-mode: both;
    -webkit-animation-name: fadeInUp;

    -moz-animation-duration: 3s;
    -moz-animation-iteration-count: 1;
    -moz-animation-fill-mode: both;
    -moz-animation-name: fadeInUp;

    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
    animation-name: fadeInUp;
}

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 50px, 0);
    transform: translate3d(0, 50px, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@-moz-keyframes fadeInUp {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 50px, 0);
        transform: translate3d(0, 50px, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
      }
    }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 50px, 0);
    transform: translate3d(0, 50px, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

.row {
    width: 100%;
}

.gp_badge {
    width: 40%;
    margin-left: 6vmax;
    margin-right: 6vmax;
}

.work_container {
    width: 100%;
    padding-top: 8vmax;
}

.work_container h4 {
    font-size: 1.6em;
    color: #383838;
    margin-left: 6vmax;
    margin-right: 6vmax;
}

.work_container p {
    font-size: 1.4em;
    color: #383838;
    margin-left: 6vmax;
    margin-right: 6vmax;
}

.app_main {
    width: 100%;
    display: block;
}

.app_info {
    width: 100%;
}

.app_img {
    width: 100%;
}

.work_container a {
    width: 100%;
    height: 100%;
}

.contactsec {
    width: 100%;
    background-color: #F8F8F8;
    padding-top: 1vmax;
    padding-bottom: 4vmax;
}

.contact_cont {
    width: 100%;
}

.contact_cont h3 {
    width: 100%;
    text-align: center;
    padding: 1vmax;
    font-size: 1.5em;
}

.cta_cont {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 4vmax;
}

.cta_col {
    width: 100%;
    padding: 1%;
}

.cta_col a {
    text-decoration: none;
    color: #383838;
    font-size: 1.2em;
}

.contact_links {
    padding-top: 2vmax;
    padding-bottom: 4vmax;
}

.contact_links a {
    text-decoration: none;
    margin-left: 4vmax;
    margin-right: 4vmax;
    color: #383838;
}

#topButton {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#topButton:hover {
  background-color: #383838;
}

@media screen and (min-width: 768px) {

    .top_header {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }

    .logo_home {
        width: 50%;
    }

    .top_nav {
        width: 30%;
        float: right;
        align-items: center;
        margin-bottom: 0;
    }

    .content {
        padding-top: 8vmax;
        padding-bottom: 16vmax;
    }

    .app_main {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    .app_info {
        width: 65%;
    }

    .row {
        width: 100%;
    }

    .work_container a {
        width: 35%;
        height: 35%;
    }

    .work_container h4 {
        font-size: 2em;
    }

    .work_container p {
        font-size: 1.5em;
        color: #383838;
    }

    .app_img {
        width: 35%;
        height: 35%;
    }

    .first {
        order: 1;
    }

    .contact_links {
        padding-top: 1vmax;
        padding-bottom: 4vmax;
    }

    .cta_cont {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding-bottom: 1vmax;
    }

    .cta_col {
        width: 50%;
    }

    .gp_badge {
        width: 25%;
        margin-left: 6vmax;
        margin-right: 6vmax;
    }
}